<h1>ACP Brevet</h1>

{% for item in items %}
  <p><b>Controle: {{item.controle_num}}</b> ({{item.controle_km}}km/{{item.controle_mile}}mi)
  	{% if item.location %}
  	<br/>
  	{{item.location}}
  	{% endif %}
   <br/>
   start: {{item.open_time}}
   <br/>
   close: {{item.close_time}} 
  </p>
  <br/>
{% endfor %}

<p>Would you like to <a href="{{ url_for("index") }}">do it again</a>?</p>