/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

table.control_time_table td.notes { 
    color: red;
    font-size: x-small;
}